<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
	{{ partial "head.html" . }}
</head>

<body>
	<header>
		{{ partial "header.html" . }}
	</header>
	<div id="main">
		<aside id="left-aside">
			{{ if or .Params.mess .Site.Params.mess }}
			{{ partial "mess-left.html" . }}
			{{ end }}
		</aside>
		<aside id="right-aside">
			{{ if or .Params.mess .Site.Params.mess }}
			{{ partial "mess-right.html" . }}
			{{ end }}
		</aside>
		<main>
			{{ block "main" . }}{{ end }}
		</main>
	</div>
	<footer>
		{{ partial "footer.html" . }}
	</footer>
</body>

</html>
