{{ define "main" }}
<h1>{{ .Title }}</h1>

{{- if .Draft -}}<div class="post_draft">DRAFT</div>{{- end -}}
{{- if .Params.Archived -}}<div class="post_archived">ARCHIVED</div>{{- end -}}

{{ partial "tags.html" (dict "taxonomy" "tags" "page" .) }}

{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format "2006 Jan 2 - 15:04:05" }}
Created: <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

<br>

{{ if isset .Params "update" }}
{{ $dateMachine = .Params.update | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman = .Params.update | time.Format "2006 Jan 2 - 15:04:05" }}
Updated: <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
<br>
{{ end }}

{{ if or .Params.toc .Site.Params.toc }}
<br>
<span id="toc">Table of Content:</span>
{{ .TableOfContents }}
{{ end }}

<hr>

{{ .Content }}
{{ end }}
