<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="/concrete.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css">
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />
    {% block head %}{% endblock %}
    
    {% if dev %}
    <style>
      .dev-env {
	  position: fixed;
	  top: 0;
	  left: 0;
      }
      .dev-indicator {
	  padding: 0.5rem;
	  font-weight: bold;
	  border: 1px solid white;
	  filter: drop-shadow(0 0 6px white);
      }
    </style>
    {% endif %}
  </head>
  <body>
    {% if dev %}
    <div class="dev-env">
      <div class="dev-indicator">DEV</div>
      <button id="rebuild-btn">REBUILD</button>
    </div>
    {% endif %}

    <header>
      <h2>MeliPlug by ywbird</h2>
      {% include "nav.html" %}
      <hr/>
      {% block header %}{% endblock %}
    </header>
    <main>
      {{ content|safe }}
    </main>
    {% include "footer.html" %}

    {% if dev %}
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>

    <script defer>
      const socket = io("/api");

      socket.on("connect", () => {
	  console.log(socket.connected); // true
      });

      socket.on("refresh", (ev) => {
	  console.log(ev);
	  if (ev.paths.includes(location.pathname)) {
	      location.reload(true);
	  }
      })

      document.getElementById("rebuild-btn").addEventListener("click",() => {
	  socket.emit("rebuild", location.pathname);
      });
    </script>
    {% endif %}
  </body>
</html>
