{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<meta name="title" content="{{title}}" >
<meta name="description" content="{{description}}" >
<meta charset="utf-8" >
<meta name="og:title" content="{{title}}" >
<meta name="og:description" content="{{description}}" >
<link rel="stylesheet" href="/post.css" />

<style>
  .tags {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      list-style: none;
      padding-left: 0;
  }
</style>
{% endblock %}

{% block header %}
<h1>{% block title%}{{ title }}{% endblock %}</h1>
<p>{{ description }}</p>
<p>{{ date }}</p>
<ul class="tags">
  {% for tag in tags %}
  <li>
    #{{ tag }}
  </li>
  {% endfor %}
</ul>
<hr/>
{% endblock %}



{% block content %}
{{ content|safe }}
{% endblock %}

{% block endbody %}
<script src="/post/script.js"></script>
{% endblock %}
